body {
  padding-top: 64px;
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* W3C */  
}

@media (min-width: 992px) {
  body {
    padding-top: 76px;
  }
}

.center_img {
	margin-left: 10%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.dark_blue {
	color:  #000099;
}

.btn {
    display: inline-block;
    min-width: 100px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    border-radius: 0;
}
.btn:hover {
	background-color:none;
	color: #fff;
	text-decoration: none;
}

.btn-lg{
    width: 160px;
    height: 52px;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 1rem;
    letter-spacing: 5px;
	transition:.5s;
}
.btn-lg:hover{
	color:#d966ff;
}

.bottom {
	margin-bottom: 15px;
}