@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ==== Font sizes(based on Typeplate's scale) ==== */
html {
  font: normal 112.5%/1.65 serif;
  -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	  line-height: 1;
	  margin-top: 0;
	  color: #fff;
	display: inline-block;
	position: relative;
}

p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1
}
.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

.alpha {
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem;
  margin-bottom: 0.61875rem;
}

.gamma {
	text-align: center;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; 
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem;
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #FF4056}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.color-emphasis-4{color: #d966ff;}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.green_line{
  color: #6EFF00;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;
	
}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  	display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */
section{
	height: 600px;
	padding: 3rem 0;
	position: relative;
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* W3C */    
}

.short {
  height: 100px;
}

.end {
    padding-bottom: 35px;
}

.page {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 35px;
}

.mt {
  margin-top: 100px;
}

.h3 {
  color: white;
  margin-top: 50px;
}

.bd {
  background-color: #333333;
}

.midle_title {
  margin: 0 auto;
  position: relative;
  transform: translateX(110%);
  text-align: center;
}

 input {
    width: 80%;
    margin-top: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.input_wrong {
    width: 80%;
    margin-top: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #FF0000;
    border-radius: 4px;
    resize: none;
}


.input_good {
    width: 80%;
    margin-top: 25px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #6EFF00;
    border-radius: 4px;
    resize: none;
}


 textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.txtwrong {
  font-color: #FF0000;
  color: #FF0000;
}

.txtsuccess {
  font-color: #6EFF00;
  color: #6EFF00;
}

.textarea_wrong {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #FF0000;
    border-radius: 4px;
    resize: none;
}

.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.wrapper.large-wrap{max-width: 100%;}


.sectionf{
  background-size: cover;
	background-image: url("../img/background.jpg");
}

.black {
	color: #000;
}

section:before{
	content: attr(data-description);
	font-size: 0.9rem;
	font-family: 'oswald';
	color: #fff;
	position: absolute;
	z-index: 20;
	left: 2rem;
	top: 2rem;
}

/* Media queries */
 @media screen and (min-width: 1440px) {
   section{height:700px}
 }


.img-circle-profil {
	height: auto;

    border-radius: 50%;
}


/* ==== SOCIAL Media BAR ==== */
.social:before {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 40px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.linkedin {
  background-color: #3366ff;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}

.social .link.github {
  background-color: #3B5998;
  color: white;
}


/* ==== ARTICLES ==== */

.

.article {
	padding-top: 20rem;
	position: relative;
	top: 50%;
	left: 50%;
	padding: 1rem;
	text-align: center;
	transform: translate(-50%, -20%);
}

.article_left {
	padding-top: 20rem;
	position: relative;
	top: 50%;
	left: 50%;
	padding: 1rem;
	text-align: left;
	transform: translate(-50%, -20%);
}

.wrapper_art{
	margin: 0 auto;
	position: relative;
  padding: 10px;
	top:20%;
	text-align: center;
}

/* Pattern styles */
.left-half {
  float: left;
  width: 50%;
  min-height: 50vh;
}
.right-half {
  float: left;
  width: 50%;
  min-height: 50vh;
}

.padleftwrap {
  padding-right: 10%;
}

.right-half-scroller {
  float: left;
  width: 50%;
  max-height: 250px;
  overflow: scroll;
}

.bigger_lines {
	line-height: 35px;
}

.dark_background {
	background-color: rgba(0, 0, 0, 0.5);
}

.btn {
    border: 1px solid #3c3c3c;
    display: inline-block;
    min-width: 200px;
    padding: .8em;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 30px;
}
.btn:hover {
	background-color:none;
	color: #fff;
	text-decoration: none;
}

.btn-lg{
    width: 260px;
    height: 52px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0.31);
    border: 0;
    padding: 1rem;
    letter-spacing: 5px;
	transition:.5s;
}
.btn-lg:hover{
	color:#d966ff;
}

.middle_article {
	margin: 0 auto;
	vertical-align: middle;
    text-align: center;
}

/* ==== KEEP IN TOUCH ==== */

.icone {
	text-shadow: 1px 1px 1px;
    font-size: 74px;
}

/* ==== CHART BAR ==== */

.floatleft {
    float:left;
}
.floatright {
    float:right;
}

.scroller {
  overflow: scroll;
}

ul.bargraph li {
    height: 35px;
    color: white;
    text-align: left;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 15px;
    list-style-type: none;
 }

.chart {
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
}

.blackchart {
  background: #333333;
}

ul.bargraph li.space {
  margin-right: 15px;
}

ul.bargraph li.python {
	width: 90%;
}
 
ul.bargraph li.C {
	width: 80%;
}
 
ul.bargraph li.Cpp {
	width: 78%;
}
 
ul.bargraph li.CSharp {
	width: 80%;
}
 
ul.bargraph li.Java {
	width: 80%;
}
 
ul.bargraph li.Android {
	width: 74%;
}
 
ul.bargraph li.shell {
	width: 70%;
}
 
ul.bargraph li.php {
	width: 75%;
}
 
ul.bargraph li.sql {
	width: 80%;
}
 

ul.bargraph li.French {
	width: 100%;
}

ul.bargraph li.English {
	width: 80%;
}
 
ul.bargraph li.Chinese {
	width: 25%;
}
 
ul.bargraph li.Japanese {
	width: 25%;
}

ul.bargraph li.German {
	width: 35%;
}

ul.bargraph li.xaxis {
background: url(../images/x-axis.jpg);
height: 49px;
}

.article_mirror {
	padding-top: 20rem;
	position: relative;
	top: 50%;
	right: : 50%;
	padding: 1rem;
	text-align: center;
	transform: translate(-20%, -50%);

	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}


/* ==== TIMELINE ==== */

.blackdiv {
  	background-color: #222C32;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}




/*===== Vertical Timeline =====*/
#conference-timeline {
  overflow: scroll;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #00b0bd;
  padding: 15px 23px;
  color: #fff;
  max-width: 25%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #00b0bd;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container{
	max-width: 44%;
  	width: 100%;
  	margin-left: 20px;
}
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
  margin-right: 20px;
}
.timeline-article .timeline-author {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242424;
  text-align: left;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 1 1px 3px rgba(1,1,1,.03);
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 24px;
  top: 4px;
  left: -80px;
  color: #00b0bd;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: #00b0bd;
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}
/*===== // Vertical Timeline =====*/

